# Vim.gitignore
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
*~

# Python.gitignore
## Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.sqlite3
.env
.env_dev*
/venv/
/media/

# Pycharm.gitignore
.idea/*
